body, table {
    font-size: 12px;
    margin: 0;
    font-family: "Courier New";
}

table {
    border: 0px solid;
    width: 100%;
    border-spacing: 0px;

}

table tr td {
    border-bottom: 1px solid #000;
    padding: 10px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    background-color: silver;
    width: 100%;
    heigth: 10px;
    padding: 10px;
    font-weight: bold;
}


select, input {
    height: 24px;

}

label {
    font-weight: bold;
}

.flex-layout {
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
}

.flex-col {
    padding-right: 5px;
    display: flex;
}

.flex-row {
    flex-direction: row;
    display: flex;
    padding-bottom: 5px;
}

.page-container {
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 10px;

    -webkit-box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.20);
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.20);

    margin-bottom: 90px;
}

.page-title {
    font-size: 30px;
    font-weight: bold;
    font-family: "Courier New";

}

select, input, button {
    font-family: "Courier New";

}

.select-size {
    width: 300px;
}

.sub-title {
    font-size: 20px;
    color: silver;
    font-family: "Courier New";

}

.table-header {
    background-color: #f2f2f2;
}