.user-footer {
    padding-top: 20px;
    vertical-align: center;
    margin: auto;
    text-align: center;
    width: 100%;
}

.input-width-100 {
    width: 100%;
}

.flex-group-width {
    width: 50%;

}